@use '../utility/functions' as fn;
@use '../utility/variables' as var;

:root{
    --primary: #1976d2;
    --secondary: #9c27b0;
    --textcolor: #515151;
}
html {
    font-size: 100%;
}

body {
    font-size: fn.rem(16px);
    font-family: var.$primary-font;
    color: var(--textcolor);
    line-height: 1;
    margin: 0;
    overflow-x: hidden;
    font-weight: 400;
}


@media screen and (max-width: 991px) {
    html {
        font-size: 80%;
    }
}